@model User

<table class="table table-striped table-bordered table-hover table-responsive"
       data-toggle="table"
       data-url="/user/data"
       data-show-refresh="true"
       data-pagination="true"
       data-show-toggle="true"
       data-buttons="buttons"
       data-row-attributes="rowAttributes"
       data-search="true"
       id="userTable">

    <thead>
        <tr>
            <th data-field="userId" data-sortable="true">ID</th>
            <th data-field="firstName" data-sortable="true">First Name</th>
            <th data-field="lastName" data-sortable="true">Last Name</th>
            <th data-field="deliveryAddress" data-sortable="true">Delivery Address</th>
            <th data-field="billingAddress" data-sortable="true">Billing Address</th>
        </tr>
    </thead>
</table>
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Contact Information</h4>
            </div>
            <form method="post" asp-action="Add" required>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" required>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="DeliveryAddress"></label>
                        <input asp-for="DeliveryAddress" class="form-control" required id="newDelivery">
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="BillingAddress"></label>
                        <input asp-for="BillingAddress" class="form-control" required id="newBilling">
                        <input type="checkbox" id="newCheckAddress" onclick="copyNewAddress()">
                        <label for="newCheckAddress">Same as Delivery Address</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input value="Submit" type="submit" class="btn btn-primary mt-3" />
                    <button type="button" class="btn btn-primary mt-3" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contact Information</h4>
                <button class="btn btn-delete"></button>
            </div>
            <form method="post" asp-action="Update" id="editForm" required>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="UserId"></label>
                        <input asp-for="UserId" class="form-control" id="textId" readonly>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" id="textFname" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" id="textLname" required>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="DeliveryAddress"></label>
                        <input asp-for="DeliveryAddress" class="form-control" id="textDelivery" required>
                    </div>
                    <div class="form-group mt-3">
                        <label asp-for="BillingAddress"></label>
                        <input asp-for="BillingAddress" class="form-control" id="textBilling" required>
                        <input type="checkbox" id="editCheckAddress" onclick="copyEditAddress()">
                        <label for="editCheckAddress">Same as Delivery Address</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input value="Save" type="submit" class="btn btn-primary mt-3" />
                    <button type="button" class="btn btn-primary mt-3" onclick="deleteUser()">Delete</button>
                    <button type="button" class="btn btn-primary mt-3" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
    function buttons() {
        return {
            btnAdd: {
                icon: 'fa-plus',
                event: function () {
                    $('#addModal').modal();
                }
            }
        }
    }

    function deleteUser() {
        if (confirm("Are you sure you want to delete this User")) {
            var form = $("#editForm");
            form.attr("action", "/User/Delete");
            form.submit();
        }
    }
    
    function copyNewAddress() {
        var ch = $("#newCheckAddress");
        if (!ch.is(':checked')) {
            return;
        }
        var del = $("#newDelivery").val();
        $("#newBilling").val(del)
    }

    function copyEditAddress() {
        var ch = $("#editCheckAddress");
        if (!ch.is(':checked')) {
            return;
        }
        var del = $("#textDelivery").val();
        $("#textBilling").val(del)
    }

    $(function () {
        $('#userTable tbody').on('click', 'tr', function (e) {
            var tds = $(this).find('td');
            var id = tds.eq(0).text();
            var fname = tds.eq(1).text();
            if (!fname) {
                return;
            }
            var lname = tds.eq(2).text();
            var delivery = tds.eq(3).text();
            var billing = tds.eq(4).text();
            $("#textId").val(id);
            $("#textFname").val(fname);
            $("#textLname").val(lname);
            $("#textDelivery").val(delivery);
            $("#textBilling").val(billing);
            $("#editModal").modal();
        })
    })
</script>